body{
    padding: 25px;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: Arial;
    font-size: 13pt;
    line-height: 1.6;
}
h1 {
    font-size: 32pt;
    color: white;
}

h2 {
    font-size: 24pt;
    color: #34495e;
}

h3 {
    font-size: 18pt;
    color: #34495e;
}
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.nav {
    display: inline-block;
    background-color: #0000CD;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
}
